@model BlueBusiness.Models.Jobs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibilityFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibilityFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementTwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementThree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementFour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementFour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benefits)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
