@model IEnumerable<BlueBusiness.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibilityOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibilityTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibilityThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibilityFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementFour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibilityOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibilityTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibilityThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibilityFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementThree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequirementFour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefits)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
