@model BlueBusiness.Models.ViewModel.BlogsViewModel
@using BlueBusiness.Extensions

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blogs</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogs.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogs.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogs.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogs.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogs.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.Blogs.Image)" class="img-thumbnail" style="width:100px;height:100px;">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blogs.ViewTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogs.ViewTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blogs.Tags.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Blogs.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
